langchain
langgraph
langsmith
langchain-google-genai
redis
grpcio
grpcio-tools
fastapi
sqlmodel
pydantic
rq
PyJWT
clerk-backend-api
firecrawl-py
requests
tenacity
svix==1.22.0
langchain-text-splitters
langgraph-checkpoint-redis
